body {
    font-family: Verdana;
    width: 90%;
    margin: auto;
}

#chart, #df {
    text-align: center;
    margin: auto;
}
.headline {
    display: none;
    font-size: 20px;
}
table {
    margin: auto;
}
p {
    font-weight: bold;
}

/* For animating ellipsis character
.loading {
    margin: 20px auto;
    width: 120px;
}
.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4, end) 2s infinite;
    content: "\2026";
}
@keyframes ellipsis {
    from { width: 0; }
    to { width: 20px; }
} 
*/

dialog { 
    outline: none; 
    border: none; 
    background: transparent;
    text-align: left;
}
.loader {
    background-color: transparent;
    color: grey;
    width: 40px;
    height: 24px;
}
.dot { 
    animation: 1s blink infinite;
}
.dot:nth-child(2) { animation-delay: 250ms }
.dot:nth-child(3) { animation-delay: 500ms }
@keyframes blink { 50% { fill: transparent }}
